/*
 * Corporate Page SCSS
 */

.content[data-lang="en"] {
    .scm-sidebar ul li[data-lang="en"], .user-post-content[name="en"] {
        display: block;
    }
    .scm-sidebar ul li[data-lang="id"], .user-post-content[name="id"] {
        display: none;
    }
}
.content[data-lang="id"] {
    .scm-sidebar ul li[data-lang="id"], .user-post-content[name="id"] {
        display: block;
    }
    .scm-sidebar ul li[data-lang="en"], .user-post-content[name="en"] {
        display: none;
    }
}