/* ------------------- */
// utility mixin
/* ------------------- */

@mixin spacepad($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin spacepad-nosides($value) {
    padding-top: $value;
    padding-bottom: $value;
    padding-left: 0;
    padding-right: 0;
}

@mixin spacemar($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin spacemar-nosides($value) {
    margin-top: $value;
    margin-bottom: $value;
    margin-left: 0;
    margin-right: 0;
}
@mixin nosides($args) {
  #{$args}-left:0;
  #{$args}-right:0;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
