/* =====================================
 * Base Style
 * ===================================== */

@import 'var';

html, body {
  font-size: $baseFontSize;
  font-family: $baseFont;
}

.scroll-to-top:hover {
	background: $main-color;
}
// commnent out for now
// @include media-breakpoint-up(sm) {
//   html {
//     font-size: $baseFont + 2; //14px;
//   }
// }

// @include media-breakpoint-up(md) {
//   html {
//     font-size: $baseFont + 8;
//   }
// }

// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 28px;
//   }
// }