/* 
 * Variables
 */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

/* color */
$main-color: #3b3d70; //blue
$second-color: #de693b; //orange

/* font */
$baseFontSize: 12pt;
$baseFont: 'Roboto Condensed', sans-serif;