/*
 * Site Menu SCSS
 */

$defaultSpacing: 5px;
#logo {
    max-width: 70px;
    @include spacepad-nosides($defaultSpacing);
}

.scm.site-header {
    @media(min-width: 768px) {
        position: absolute;
    }
    width: 100%;
    .navbar-default {
        border: none; //remove border
        background-color: rgba(0, 0, 0, 1);
        @media(max-width: 768px) {
            @include spacepad(8px);
        }
        @media(min-width: 768px) {
            background-color: rgba(0, 0, 0, 0.5); //make the background transparent
        }
        .navbar-nav li a {
            color: #fff;
            // border-radius: 5px;
            padding-top: $defaultSpacing * 2;
            padding-bottom: $defaultSpacing * 2;
            &:hover {
                background-color: $main-color;
                text-decoration: none !important;
            }
        }
        .navbar-nav li.active {
            a {
                background-color: $main-color;
                text-decoration: none !important;
            }
            //child menu
            .dropdown-menu {
                border: none;
                a {
                    background-color: #000;
                    &:hover {
                        background-color: $main-color;
                        text-decoration: none !important;
                    }
                }
            }
        }
        .dropdown-menu {
            border: none;
            @media (max-width: 768px) {
                position: relative;
                z-index: 0;
                width: 100%;
                float: none;
            }
            a {
                background-color: #000;
                @media (max-width: 768px) {
                    // border-top: 1px solid #fff;
                    // border-bottom: 1px solid #fff;
                    padding-left: 2em;
                }
                &:hover {
                    background-color: $main-color;
                    text-decoration: none !important;
                }
            }
        }
    }
}

.main-content-area {
    margin: 0;
}
