/*
 * Site Menu SCSS
 */

.site-menu {
    &-logo {
        img {
            width: 150px;
        }
    }
}

.site-menu-list {
    color: #fff;
    margin-bottom: 0;
    a {
    	padding: 15px;
        color: #fff;
        &:hover, &.active {
        	background-color: $main-color;
        	text-decoration: none !important;
        }
    }
}


// .page-wrap .navbar-fixed-active {
// 	background-color: $main-color !important;
// }